Package: com.w00dl3cs.pogo-tweak
Name: PoGO-Tweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Pokemon GO - Tweak
Maintainer: W00dL3cs
Author: W00dL3cs
Section: Tweaks
