<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dummy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ProtocolBuffers_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA5B86911E0E7BE6008E8929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5B86E21E0E8E56008E8929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5B87111E0E8FD2008E8929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5B87C21E0E9180008E8929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
